:root {
  font-family: 'regular', sans-serif;
  background-color: #DCF8C7;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: 'regular';
  src: url(./assets/mark-pro/MARKPRO.OTF) format("truetype");
}

@font-face {
  font-family: 'bold';
  src: url(./assets/mark-pro/MARKPROBOLD.OTF) format("truetype");
}

@font-face {
  font-family: 'heavy';
  src: url(./assets/mark-pro/MARKPROHEAVY.OTF) format("truetype");
}

@font-face {
  font-family: 'light';
  src: url(./assets//mark-pro/MARKPROLIGHT.OTF) format("truetype");
}

